

/* font-family: "OfficinaSerifBold"; */
@font-face {
  font-family: "OfficinaSerifBook";
  src: url("fonts/OfficinaSerifBold/OfficinaSerifBold.eot");
  src: url("fonts/OfficinaSerifBold/OfficinaSerifBold.eot?#iefix") format("embedded-opentype"),
  url("fonts/OfficinaSerifBold/OfficinaSerifBold.woff") format("woff"),
  url("fonts/OfficinaSerifBold/OfficinaSerifBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

body,
.font-1 {
  font-family: 'Open Sans', sans-serif;
}
.navbar,
h1, h2, h3, h4,
.font-2,
.card-title,
.card-date {
  font-family: 'OfficinaSerifBook';
}
a:hover {
  text-decoration: underline;
}
ul {
  padding: 0;
  margin: 0;  
}
ul > li,
ol > li {
  line-height: 2;
}
.line-spacing-1-5 {
  line-height: 1.5;
}
.line-spacing-2 {
  line-height: 2;
}
.no-p {
  padding: 0;
}
.no-side-p,
.no-side-p-mob {
  padding-left: 0;
  padding-right: 0;
}
.container-fluid, .container, .row {
  position: relative;
}
.static {
  position: static;
}
.txt-white {
  color: #fff;
}
.txt-blue {
  color: #2ec0cd;
}
.txt-orange {
  color: #f64e21;
}
.txt-red {
  color: #f33439;
}
.txt-black {
  color: #333;
}
.bg-white {
  background-color: #fff;
}
.bg-blue {
  background-color: #2ec0cd;
}
.bg-orange {
  background-color: #f64e21;
}
.bg-red {
  background-color: #eb5f43;
}
.bgcol-01 {
  background: #f3f3f3;
}
.bgcol-02 {
  background: #ececec;
}
.bgcol-03 {
  background: #3c3c3c;
}
.transparent-bg {
  background: transparent;
}
.bg-full-img {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.bg-img-02 {
  background-image: url(../img/big-03.jpg);
}
.bg-img-03 {
  background-image: url(../img/big-04.jpg);
}
.bg-img-04 {
  background-image: url(../img/big-05.jpg);
}
.bg-img-10 {
  background-image: url(../img/img-01.jpg);
}
.bg-img-11 {
  background-image: url(../img/img-02.jpg);
}
.bg-img-12 {
  background-image: url(../img/img-04.jpg);
}
.bg-img-13 {
  background-image: url(../img/img-05.jpg);
}
.bg-img-14 {
  background-image: url(../img/img-06.jpg);
}
.bg-img-15 {
  background-image: url(../img/img-07.jpg);
}
.bg-img-16 {
  background-image: url(../img/img-08.jpg);
}
.bg-img-17 {
  background-image: url(../img/big-10.jpg);  
  background-position: left center; 
}
.bg-img-18 {
  background-image: url(../img/big-11.jpg); 
  background-position: right center; 
}
.font-xl {
  font-size: 26px;
}
.font-mix-01 {
  font-family: 'OfficinaSerifBook';
  color: #f64e21;
}
.top-bottom-m-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.top-bottom-m-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.top-bottom-m-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
.top-bottom-p-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.top-bottom-p-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.top-bottom-p-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.top-m-20 {
  margin-top: 20px;
}
.top-m-40 {
  margin-top: 40px;
}
.top-m-60 {
  margin-top: 60px;
}
.bottom-m-20 {
  margin-bottom: 20px;
}
.bottom-m-40 {
  margin-bottom: 40px;
}.bottom-m-60 {
  margin-bottom: 60px;
}
.centered-box,
.centered-box-inverse {
  max-width: 700px;
  margin: 70px auto;
  color: #fff;
}
.centered-box-inverse {
  color: #333;
}
.strong {
  font-weight: 700;
}
h1 span {
  display: block;
  text-shadow: 1px 1px 0px #fff;
}
.h1-minor {
  font-size: 26px;
}
i.fa-chevron-right,
i.fa-circle {
  font-size: 10px;
  margin-right: 15px;
  color: #b7b7b7;
}
li:hover i.fa-chevron-right,
li:hover i.fa-circle,
p:hover i.fa-chevron-right {
  color: #333;
}
.numbered-list {
  margin-left: 0;

}
.numbered-list li {
  font-size: 26px;
  font-weight: 700;
}

.numbered-list p {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 5px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
}
.btn-orange-gradient {
  display: block;
  max-width: 280px;
  padding: 10px;
  text-align: center;
  color: #fff;
  font-family: 'OfficinaSerifBook';
  background: rgba(248,85,40,1);
  background: -moz-linear-gradient(top, rgba(248,85,40,1) 0%, rgba(238,64,61,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,85,40,1)), color-stop(100%, rgba(238,64,61,1)));
  background: -webkit-linear-gradient(top, rgba(248,85,40,1) 0%, rgba(238,64,61,1) 100%);
  background: -o-linear-gradient(top, rgba(248,85,40,1) 0%, rgba(238,64,61,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,85,40,1) 0%, rgba(238,64,61,1) 100%);
  background: linear-gradient(to bottom, rgba(248,85,40,1) 0%, rgba(238,64,61,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85528', endColorstr='#ee403d', GradientType=0 );
}
.btn-orange-gradient:hover,
.btn-orange-gradient:focus {
  color: #fff;
  text-decoration: none;  
}


.btn-orange-gradient:hover {
  background: rgba(248,85,40,1);
  background: -moz-linear-gradient(top, rgba(248,85,40,1) 0%, rgba(243,75,52,1) 51%, rgba(248,93,51,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,85,40,1)), color-stop(51%, rgba(243,75,52,1)), color-stop(100%, rgba(248,93,51,1)));
  background: -webkit-linear-gradient(top, rgba(248,85,40,1) 0%, rgba(243,75,52,1) 51%, rgba(248,93,51,1) 100%);
  background: -o-linear-gradient(top, rgba(248,85,40,1) 0%, rgba(243,75,52,1) 51%, rgba(248,93,51,1) 100%);
  background: -ms-linear-gradient(top, rgba(248,85,40,1) 0%, rgba(243,75,52,1) 51%, rgba(248,93,51,1) 100%);
  background: linear-gradient(to bottom, rgba(248,85,40,1) 0%, rgba(243,75,52,1) 51%, rgba(248,93,51,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85528', endColorstr='#f85d33', GradientType=0 );
}
.btn-orange-gradient:focus {
  -webkit-box-shadow: inset 5px 5px 31px -7px rgba(0,0,0,0.24);
  -moz-box-shadow: inset 5px 5px 31px -7px rgba(0,0,0,0.24);
  box-shadow: inset 5px 5px 31px -7px rgba(0,0,0,0.24);
}
.fa-angle-double-left,
.fa-angle-double-right,
.rounded-number {
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 32px;
  text-align: center;
  line-height: 30px !important;
}
.fa-angle-double-left,
.fa-angle-double-right {
  cursor: pointer;
}

.list-card {
  position: relative;
  min-height: 350px;
  padding-top: 15px;  
  padding-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
  border: 15px solid #f3f3f3;
  border-bottom-width: 0;
  overflow: hidden;
}
.card-label,
.card-label-blue,
.card-label-blue-bordered,
.card-label-red-bordered {
  display: table;
  position: relative;
  top: 0;
  left: 0;
  padding: 1px 5px 0px 5px;
  margin-bottom: 30px;
  background: #f44e2d;
  color: #fff;
  font-family: 'OfficinaSerifBook';
}
.card-label-blue {
  background: #2ec0cd;
}
.card-label-blue-bordered,
.card-label-red-bordered {
  background: #2ec0cd;
  border: 1px solid #fff;
  padding: 0 4px;
}
.card-label-red-bordered {
  background-color: #eb5f43;
}
.card-title {
  font-size: 20px;
  padding: 10px 0;
}
.card-date {
  font-size: 14px;
}
.card-person {
  margin: 10px 0;
}
.content-to-bottom {
  position: absolute;
  bottom: 15px;
  right: 15px;
  left: 15px;
}
.card-aside img {
  display: block;
  width: 100%;
  max-width: 260px;
  height: auto;
  margin: 20px auto;
}
.carousel-control.left, .carousel-control.right {
  background-image: none
}
/* -----------------------------------
*           === HEADER ===
 -----------------------------------*/

.navbar {
  min-height: 60px;
  background: #333;
  color: #fff;
  margin-bottom: 0;
}
.navbar .container {
  width: auto;
}
.container>.navbar-header {
  text-align: center;
  padding-bottom: 7px;
}
.navbar-brand {
  float: none; 
  padding: 15px 0;
  font-size: 16px; 
}
.navbar-brand>img {
  display: none;
}
.navbar-header .fa {
  position: relative;
  top: 2px;
  left: 10px;
  font-size: 26px;
  color: #EF3840;
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-toggle {
  top: 3px;
  float: none;
  margin: 8px 0 8px -10px;
  border-color: transparent;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #333;
} 
.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  width: 20px;
  height: 3px;
  background-color: #ef3840;
  border-radius: 0;
}
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
  color: #c4c4c4;
}
.navbar-default .navbar-nav>.active>a {
  background-color: transparent;
  color: #39c0cb;
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: transparent;
  color: #c4c4c4;
}
.navbar-right {
  text-align: right;
  padding-right: 15px;
}

/* SUBNAV*/

.subnav li {
  color: inherit;
}
.search-wrapper {
  position: relative;
  max-width: 325px;
  margin: 10px 0 15px 0;
}
.search-wrapper .fa {
  position: absolute;
  right: 16px;
  top: 14px;
  color: #8a8a8a;
}
.search-wrapper input[type="search"] {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #d6d6d6;
  border: none;

}
/* -----------------------------------
*           === HERO ===
 -----------------------------------*/
.hero {
  background-image: url(../img/big-01.jpg);
  min-height: 300px;
}
.hero-content-wrapper {
  margin: 120px 0 70px 0;
}
.gradient-01 {
  display: table;
  color: #e9374b;
  background: -webkit-linear-gradient(left,#e9374b, #fd6020);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.curved-links-container {
  background: #fff;
  font-size: 12px;
}
.curved-link-holder-01,
.curved-link-holder-02,
.curved-link-holder-03 {
  position: relative;
  padding: 10px;
}
.curved-link-holder-01 {
  background: #f3f3f3;
}
.curved-link-holder-03 {
  background: #ececec;
}
.curved-links-container a {
  color: #333;
}


.img-mobile {
  width: 100%;
  max-width: 695px;
  margin-left: -30px;
}
/* ----------------- */
.media-01 {
  margin-bottom: 35px;
}
a.col-xs-4 {
  color: #333;
  margin-bottom: 80px;
}
a.col-xs-4:hover {
  text-decoration: none;
  color: #1ba7b8;
}
.videozapis span,
.prezentacija span,
.svideteljstvo span {
  display: block;
  margin: 100px auto 25px;
  height: 100px;
  background: url(../img/sprites-02.png);
}
.videozapis span{
  width: 81px;
  height: 87px;
  background-position: 0 0;
}
.videozapis:hover span {
  background-position: 0 -89px;  
}
.prezentacija span {
  width: 90px;
  height: 89px;
  background-position: -81px 0;
}
.prezentacija:hover span {
  background-position: -81px -89px;  
}
.svideteljstvo span {
  width: 75px;
  height: 86px;
  background-position: -171px 0;  
}
.svideteljstvo:hover span {
  background-position: -171px -89px;
}

.btn-blue,
.btn-red {
  display: block;
  width: 100%;
  max-width: 300px;
  border: 2px solid #2ec0cd;
  padding: 10px;
  color: #2ec0cd;
  font-family: 'OfficinaSerifBook';
}
.btn-blue:hover {
  color: #2ec0cd;
}
.btn-red {
  margin: 0 auto;
  border: 2px solid #f33439;
  color: #f33439;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.btn-red:hover {
  color: #f33439;
} 
.icon {
  background: url(../img/sprites.png) no-repeat;
  display: block;
}
.icon-sale,
.icon-comp {
  position: absolute;
  display: none;

}
.icon-sale {
  right: 10px;
  width: 26px;
  height: 35px;
  bottom: 15px;
  background-position: 0 -96px;
}
.icon-comp {
  left: 10px;
  bottom: 22px;
  width: 30px;
  height: 22px;
  background-position: -28px -96px;
}
.icon-clock {
  width: 21px;
  height: 21px;
  background-position: -47px -136px;
}
.icon-ribbon {
  width: 22px;
  height: 40px;
  background-position: -58px -96px;
}
.icon-mapmarker {
  width: 16px;
  height: 21px;
  background-position: -31px -129px;  
}
.icon-phone {
  width: 17px;
  height: 23px;
  background-position: -69px -137px;  
}
.icon-film {
  position: relative;
  top: 5px;
  width: 30px;
  height: 28px;
  background-position: -28px -160px;  
}
.icon-carousel-left,
.icon-carousel-right {
  position: absolute;
  top: 50%;
  display: block;
  width: 24px;
  height: 32px;
  margin-top: -16px;
  background: url(../img/sprites-02.png) no-repeat;  
  background-position: -167px -176px;  
}
.icon-carousel-right {
  left: auto;
  right: 0;
  background-position: -191px -176px;    
}
/*  map */
.map {
  min-height: 300px;
  margin-top: 60px;
  background: url(../img/map.jpg) center center;
}
/*form*/
.centered-box input[type="text"],
.centered-box input[type="email"],
.centered-box input[type="submit"],
.centered-box textarea {
  width: 100%;
  border: 1px solid #fff;
  margin-bottom: 20px;
  padding: 10px;
}
.centered-box input[type="submit"] {
  display: block;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'OfficinaSerifBook';
}
.centered-box input[type="text"]:focus,
.centered-box input[type="email"]:focus,
.centered-box input[type="submit"]:focus,
.centered-box textarea:focus {
  background-color: rgba(255,255,255,0.3);
}
/*    */
/* thumbnails */
.thumbnails {
  padding: 60px 0;
}
.thumbnails img {
  display: block;
  width: 100%;
  max-width: 310px;
  height: auto;
  margin: 20px auto;
}
.dotted-separator {
  display: none;
  border-right: 1px dotted #333;
}
/*  */
/* -----------------------------------
*           === FOOTER ===
 -----------------------------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #cecece;
}
.social {
  display: none;
}
.footer-moto {
  width: 250px;
}
.footer-moto a {
  display: block;
  height: 48px;
  padding-top: 5px;
  padding-left: 100px;
  color: #cecece;
  background: url(../img/sprites.png) no-repeat 0 -48px;
}
.footer-moto a:hover {
  background-position: 0 0;
  color: #333;
}
.btn-to-desktop {
  display: block;
  margin: 30px 0 50px 0;
  line-height: 45px;
  text-align: center;
  border: 1px solid #c6c6c6;
}

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .bg-img-01 {
    background-image: url(../img/big-02.jpg);
  }
  .bg-img-05 {
    background-image: url(../img/big-06.png);
  }
  .bg-img-06 {
    background-image: url(../img/big-07.png);
  }
  .navbar {
    min-height: 80px;
  }
  .navbar {
    border-radius: 0; 
    padding-top: 15px;
  }
  .navbar-brand>img {
    display: block;
    float: left;
  }
  .container>.navbar-header {
    padding-bottom: 0;
  }
  .navbar>.container .navbar-brand {
    margin-left: 0;
    text-align: left;
  }
  .moto {
    position: relative;
    top: 5px; 
    left: 10px;
    max-width: 150px;
    display: inline-block;
  }
  .navbar-right>li {
    float: none;
  }
  .navbar-nav>li> .email {
    padding: 0;
  }
  .search-wrapper {
    margin: 10px 0 10px -10px;
  }
  .search-wrapper .fa {
    display: none;
  }
  /* ---------------*/
  .hero-content-wrapper {
    margin: 200px 0 200px 0;
  }
  .curved-links-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: transparent;
  }
  .curved-link-holder-01,
  .curved-link-holder-02,
  .curved-link-holder-03 {
    width: 35%;
    padding: 10px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    min-height: 88px;
  }
  .curved-link-holder-01 {
    text-align: right;
    padding-right: 50px;
    background: #f3f3f3;
    border-top-right-radius: 60px;
  }
  .curved-link-holder-02 {
    position: relative;
    text-align: center;
    width: 30%;
  }
  .curved-link-holder-02:before,
  .curved-link-holder-02:after {
    content: "";
    position: absolute;
    display: block;
    width: 44px;
    height: 44px;
    background: url(../img/sprites-02.png) -72px -208px;
    left: 0;
    bottom: 0;
  }
  .curved-link-holder-02:after {
    background-position: -120px -208px;
    left: auto;
    right: 0;
  }
  .curved-link-holder-03 {
    text-align: left;
    padding-left: 50px;
    background: #ececec;
    border-top-left-radius: 60px;
  }
  [class^="curved-link"] a {
    display: inline-block;
    margin-top: 20px;
  }
  .icon-sale,
  .icon-comp,
  .dotted-separator {
    display: block;
  }
  .media-left {
    padding-right: 30px;
  }
  .udalenoe {
    min-height: 700px;
  }
  .img-mobile {
    position: relative;
    top: 100px;
    margin-bottom: 200px;
  }
  .udalenoe .col-sm-offset-6 {
    position: absolute;
  }
  .map {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 0;
  }
  /* --------------- */
  
  .seminar-list {
    padding: 10px 5px;
  }

  .list-card {
    border-width: 10px;
    margin-left: 0;
    margin-right: 0;
    min-height: 540px;
  }
  .card-aside {
    min-height: 1080px;
  }
  /* ---------------*/
  .footer-moto, .copy {
    float: left;
  }
  .btn-to-desktop {
    display: none;
  }
  .copy {
    width: 330px;
    text-align: center;
  }
  .social { 
    display: block;
    float: right;
    width: 150px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .social li {
    float: left;
    margin-left: 10px;
  }
  .social .fa {
    font-size: 28px;
  }
  .no-side-p-mob {
    padding-right: 15px;
    padding-left: 15px;
  }
  .carousel-caption .txt-blue {
    font-size: 30px;
  }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
  .centered-box {
    margin: 140px auto;
  }
  .navbar .container {
    width: 970px;
  }
  .navbar-nav {
    font-size: 18px;
  }
  .navbar-right {
    padding-right: 0;
    font-size: 16px;
  }
  .curved-links-container {
    font-size: 16px;
  }
  .seminar-list .col-sm-8 {
    padding-right: 33%;
  }
  .seminar-list .col-sm-6 {
    padding-right: 25%;
  }
  .list-card {
    min-height: 490px;
  }
  .card-aside {
    min-height: 980px;
  }
  .copy {
    width: 560px;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .navbar .container {
    width: 1170px;
  }
  .moto {
    margin-right: 80px;
  }
  .navbar-right {
    margin-top: -10px;
  }
  .phone-num {
    font-size: 24pt;
    margin-bottom: -15px;
  }
  .subnav {
    padding-top: 15px;
  }
  .search-wrapper {
    top: -7px;
  }
  .search-wrapper .fa {
    display: block;
  }
  h2 {
    font-size: 60px;
    line-height: 1;
  }
  .headphones {
    background: url(../img/headphones.png) no-repeat ;
    margin-top: -70px;
    padding-top: 380px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }
  .snail {
    background: url(../img/snail.png) no-repeat ;
    margin-top: -90px;
    padding-top: 350px;
  }
  .list-card {
    min-height: 420px;
  }
  .card-aside {
    min-height: 840px;
  }
  .copy {
    width: 760px;
  }
}
@media only screen and (min-width: 1400px) {
  body {
    overflow-x: hidden;
  }
  .navbar .container,
  .container {
    width: 1370px;
  }
  .moto {
    top: 0;
    max-width: 210px;
    font-size: 20pt;
    line-height: 1;
  }
  .navbar-right {
    font-size: 16px;
  }
  .subnav ul {
    margin-top: 10px;
  }
  .list-card {
    min-height: 370px;
  }
  .card-aside {
    min-height: 740px;
  }
  .copy {
    width: 960px;
  }
}










/* Large Devices, Wide Screens */

@media only screen and (max-width: 1199px) {}


/* Medium Devices, Desktops */

@media only screen and (max-width: 991px) {}


/* Small Devices, Tablets */

@media only screen and (max-width: 767px) {}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 479px) {}


/* Custom, iPhone Retina */

@media only screen and (max-width: 319px) {}
